@page "/Prioridades/Edit/{PrioridadId:int}"
@inject PrioridadesServices prioridadesService
@rendermode InteractiveServer

@* EDIT DE PRIORIDADES *@

<EditForm Model="Prioridad" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />
    <div class="card shadow-lg border-0 rounded" style="background-color: #f8f9fa;">
        <div class="card-header bg-primary text-white" style="text-align: center;">
            <h3> <i class="fas fa-clipboard-list"></i> Editar prioridad</h3>
        </div>

        <div class="card-body">

            <div class="row">

                <div class="col-md-6 mb-3">
                    <label for="PrioridadId" class="form-label">PrioridadId:</label>
                    <div class="input-group">
                        <div style="width: 40%; height: 1em;">
                            <InputNumber @bind-Value="Prioridad.PrioridadId" class="form-control" style="font-size: 0.8em;" aria-describedby="BotonBuscar" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <label for="Descripcion" class="form-label">Nivel de Prioridad:</label>
                <InputSelect @bind-Value="Prioridad.Descripcion" class="form-control">
                    @foreach (var prioridad in NivelPrioridad)
                    {
                        <option value="@prioridad">@prioridad</option>
                    }
                </InputSelect>
                <ValidationMessage For="@(() => Prioridad.Descripcion)" />
            </div>

            <div class="mb-3">
                <label for="Tiempo" class="form-label">Tiempo:</label>
                <InputNumber @bind-Value="Prioridad.Tiempo" class="form-control" />
                <ValidationMessage For="@(() => Prioridad.Tiempo)" />
            </div>

        </div>

        <div class="card-footer bg-light d-flex justify-content-center mt-3">
            <div class="btn-group">
                <button type="button" class="btn btn-outline-primary ml-2" @onclick="Nuevo"><span class="bi bi-plus"></span> Nuevo </button>
                <button type="submit" class="btn btn-outline-success ml-2"><span class="bi bi-check-circle-fill"></span> Guardar </button>
                <a type="button" href="/Prioridades/Index/" class="btn btn-outline-danger"><span class="bi bi-arrow-bar-left"></span> Retroceder </a>
            </div>
        </div>
    </div>
</EditForm>

@code {
    [Parameter]
    public int? PrioridadId { get; set; }
    public Prioridades Prioridad { get; set; } = new Prioridades();
    private bool Existe = false;
    public List<string> NivelPrioridad { get; set; } = new List<string> { "Alta", "Media", "Baja" };

    protected override async Task OnInitializedAsync()
    {
        if (PrioridadId.HasValue)
        {
            Prioridad.PrioridadId = PrioridadId.Value;
            await Buscar();
        }
    }

    public async Task Buscar()
    {
        Existe = false;
        var PrioridadE = await prioridadesService.Buscar(Prioridad.PrioridadId);

        if (PrioridadE != null)
        {
            Prioridad = PrioridadE;
        }
        else
        {
            Nuevo();
        }
    }

    public void Nuevo()
    {
        Prioridad = new Prioridades();
        Existe = false;
    }

    public async Task Guardar()
    {
        var guardo = await prioridadesService.Guardar(Prioridad);
        if (guardo)
        {
            Nuevo();
        }
    }

    public async Task Eliminar()
    {
        var eliminado = await prioridadesService.Eliminar(Prioridad.PrioridadId);
        Nuevo();
    }
}
