@page "/Prioridades/Index"

@inject PrioridadesServices prioridadesService
@rendermode InteractiveServer
 
@* INDEX DE PRIORIDADES *@

<EditForm Model="ListaPrioridades" class="border shadow-lg p-3 rounded">
    
    <div class="card-header bg-primary text-white text-center py-2 rounded">
        <h3 style="font-weight: bold;" class="mb-0 font-weight-bold">Consulta prioridades</h3>
    </div>
    <div class="card-body">

        <div class="row mb-3 align-items-end">
            <div class="col-md-3">
                <label for="Filtro" class="form-label">Filtrar por:</label>
                <select @bind="filtro" class="form-select">
                    <option value="id">ID</option>
                    <option value="descripcion">Descripcion</option>
                    <option value="tiempo">Tiempo</option>
                </select>
            </div>
            <div class="col-md-6">
                <label for="ValorFiltro" class="form-label">Búsqueda:</label>
                <div class="input-group">
                    <input @bind="valorFiltro" class="form-control" placeholder="Buscar" />
                    <button @onclick="Buscar" class="btn btn-outline-primary" type="button">
                        <span class="bi bi-search"></span> Buscar
                    </button>
                </div>
            </div>
            <div class="col-md-3 text-end">
                <a href="/Prioridades/Create" class="btn btn-success" type="button"><span class="bi bi-floppy"></span> Crear </a>
            </div>
        </div>
    </div>
    <table class="table table-bordered text-center">
        <thead class="bg-primary text-white">
            <tr>
                <th>PrioridadId</th>
                <th>Descripcion</th>
                <th>Tiempo</th>
                <th>Ver</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var prioridad in ListaPrioridades)
            {
                <tr>
                    <td>@prioridad.PrioridadId</td>
                    <td>@prioridad.Descripcion</td>
                    <td>@prioridad.Tiempo</td>
                    <td>
                        <a class="btn btn-outline-primary" href="/Prioridades/Details/@prioridad.PrioridadId">
                            <span class="bi bi-info-circle-fill"></span>
                        </a>
                    </td>

                    <td>
                        <a class="btn btn-outline-success" href="/Prioridades/Edit/@prioridad.PrioridadId">
                            <span class="bi bi-marker-tip"></span>
                        </a>
                    </td>

                    <td>
                        <a class="btn btn-outline-warning" href="/Prioridades/Delete/@prioridad.PrioridadId">
                            <span class="bi bi-dash-circle-fill"></span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</EditForm>


@code {

    public Prioridades Prioridad = new Prioridades();

    public List<Prioridades> ListaPrioridades = new List<Prioridades>();

    private string filtro { get; set; } = "Id";
    private string valorFiltro { get; set; } = "";

    protected override async Task OnInitializedAsync()
    {
        ListaPrioridades = await prioridadesService.Listar (p => true);
    }

    public async Task Guardar()
    {
        var guardo = await prioridadesService.Guardar(Prioridad);
    }

    private async Task Buscar()
    {
        if (valorFiltro.Trim() != "")
        {
            if (filtro == "id" && int.TryParse(valorFiltro, out int PrioridadId))
            {
                ListaPrioridades = await prioridadesService.Listar(t => t.PrioridadId == PrioridadId);
            }
            else if (filtro == "Descripcion")
            {
                ListaPrioridades = await prioridadesService.Listar(t => t.Descripcion == valorFiltro);
            }
            else if (filtro == "Tiempo" && int.TryParse(valorFiltro, out int Tiempo))
            {
                ListaPrioridades = await prioridadesService.Listar(t => t.Tiempo == Tiempo);
            }
        }
        else
        {
            ListaPrioridades = await prioridadesService.Listar(t => true);
        }
    }


}
